    /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #36d692;
  border-color: #36d692;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 40px;
}
label.switch {
    color: transparent;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 22px;
    left: 5px;
    border-radius: 50px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
  background-color: #36d692;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.ewpg-admin-wrap{
  padding: 15px;
}

.ewpg-admin-wrap input ,.ewpg-admin-wrap input[type=number] {
  height: 40px;
  font-size: 14px;
  padding: 6px 8px;
}
.ewpg-admin-wrap select{
  padding: 4px 6px 4px 10px;
  line-height: 28px;
  height: 42px;
  min-width: 160px;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
 .ewpg-admin-wrap .metabox-holder {
    margin-top: 15px;
    background: #fff;
    padding: 15px 25px;
}
.ewpg-admin-wrap .nav-tab-wrapper, .wrap h2.nav-tab-wrapper, h1.nav-tab-wrapper {
    border-bottom: 0px solid #ccc;
    margin: 0;
    padding-top: 9px;
    padding-bottom: 0;
   
    line-height: inherit;
}
.ewpg-admin-wrap .nav-tab:first-child {
    margin-left: 0px;
}
.ewpg-admin-wrap .nav-tab-active, .nav-tab-active:focus, .nav-tab-active:focus:active, .nav-tab-active:hover {
  background-color: #36d692!important;
  border-color: #36d692!important;;
  color: #fff !important;
  border: none;
}
.ewpg-admin .button-primary {
  background-color: rgb(102, 72, 254);
  background-image: -webkit-linear-gradient(-169deg, #15c7a4 0%, #37de89 100%);
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  padding: 8px 25px;
  border-radius: 3px;
  margin: 30px 0px;
  transition: all 0.3s ease 0s;
}
.ewpg-admin-wrap .nav-tab{
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    background-color: #f8fafb;
    color: #516378;
    font-size: 14px;
    font-weight: 600;
}


.ewpg-admin-wrap .wp-core-ui .notice.is-dismissible {
    padding-right: 38px;
    position: relative;
    margin-top: 15px;
    margin-left: 10px;
}


div#wedevs_advanced .ewpg-admin,.deactive_license, #wedevs_advanced h2, #wedevs_advanced .form-table th{
    display: none;
}
.support .el-license-container {
    padding: 0;
    margin-top: 30px;
}
#wedevs_advanced span a{text-decoration: none;}
.el-license-container.shoe-data-lic {
    display: none;
}


.ewpg-check{
  border: 1px solid #f75757!important;
  border-radius: 30px;
}

